# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Assets/Audio/Sound Effects/CCNonCommercial/single arrows/edits/CCNonCommercial.txt

Assets/Audio/Sound Effects/CCAttbr/CCAttbr.txt

Assets/Audio/Sound Effects/CCNonCommercial/single arrows/CCNonCommercial.txt

Assets/Audio/Sound Effects/CCAttbr/arrowshoot/edits/CCAttbr.txt

Assets/Audio/Sound Effects/CCAttbr/arrowshoot/CCAttbr.txt

Assets/Audio/Sound Effects/CC0/CC0.txt.txt

*.meta

*.meta

*.meta
